*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body{
	background-color: black;
}
.mat{
	height: 440px;
	width: 440px;
	background-color: rgb(255,0,0, 0.2);
	border-radius: 50%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.asos{
	height: 400px;
	width: 400px;
	background-color: rgb(255,0,0, 0.4);
	border-radius: 50%;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	/*border-width: 10px;
	border-style: solid;
	border-color: red;*/
}
.hey{
	height: 300px;
	width: 300px;
	background-color: red;
	position: relative;
	border-radius: 50%;
	left: 50%;
	top:50%;
	transform: translate(-50%, -50%);
}
.uch{
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid white;
	border-bottom: 25px solid transparent;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}